# Ignore the massive dependencies folder
node_modules/
Backend/node_modules/

# Ignore local environment secrets (passwords, database keys)
.env
Backend/.env

# Ignore OS specific files
.DS_Store
Thumbs.dbg