.analytics-grid {


    display:grid;


    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));


    gap:22px;


    margin-bottom:35px;


}







.analytics-card {


    background:var(--card-color);


    color:var(--text);


    border-radius:18px;


    padding:25px;


    border:1px solid var(--border-color);


    box-shadow:var(--shadow);


    transition:0.3s;


}







.analytics-card:hover {


    transform:translateY(-5px);


}







.analytics-card span {


    font-size:32px;


}







.analytics-card h3 {


    margin-top:15px;


    color:var(--text);


    opacity:.7;


    font-size:16px;


}







.analytics-card strong {


    display:block;


    font-size:35px;


    margin-top:10px;


    color:#60a5fa;


}