.create-quiz-page{

min-height:100vh;

background:#f5f7fb;

display:flex;

justify-content:center;

align-items:center;

padding:40px;

}



.create-quiz-card{

background:white;

width:450px;

padding:40px;

border-radius:25px;

box-shadow:
0 15px 40px rgba(0,0,0,0.08);

}



.create-quiz-card h1{

font-size:32px;

margin-bottom:10px;

color:#1f2937;

}



.create-quiz-card p{

color:#6b7280;

margin-bottom:30px;

}



.create-quiz-card label{

font-weight:600;

display:block;

margin-bottom:10px;

}



.create-quiz-card input{


width:100%;

padding:15px;

border-radius:12px;

border:1px solid #ddd;

font-size:16px;

margin-bottom:25px;

}



.create-quiz-card input:focus{

outline:none;

border-color:#667eea;

}



.create-quiz-button{


width:100%;

padding:15px;

border:none;

border-radius:14px;

background:#667eea;

color:white;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.3s;

}



.create-quiz-button:hover{


transform:translateY(-3px);

background:#5563d8;

}