/* =========================
   CREATE QUIZ PAGE
========================= */


.create-quiz-page {


    min-height:100vh;


    background:var(--bg);


    display:flex;


    justify-content:center;


    align-items:center;


    padding:40px;


    color:var(--text);


}







/* =========================
   CREATE QUIZ CARD
========================= */


.create-quiz-card {


    background:var(--card-color);


    color:var(--text);


    width:450px;


    padding:40px;


    border-radius:26px;


    border:

    1px solid var(--border-color);


    box-shadow:


    0 15px 40px rgba(15,23,42,.08);


}







.create-quiz-card h1 {


    font-size:32px;


    margin-bottom:10px;


    color:var(--text-h);


}







.create-quiz-card p {


    color:var(--text);


    opacity:.7;


    margin-bottom:30px;


    line-height:1.5;


}







.create-quiz-card label {


    font-weight:600;


    display:block;


    margin-bottom:10px;


    color:var(--text-h);


}







/* =========================
   INPUT
========================= */


.create-quiz-card input {


    width:100%;


    padding:15px;


    border-radius:12px;


    border:

    1px solid var(--border-color);


    background:var(--bg);


    color:var(--text);


    font-size:16px;


    margin-bottom:25px;


    outline:none;


    box-sizing:border-box;


    transition:.25s;


}







.create-quiz-card input::placeholder {


    color:var(--text);


    opacity:.5;


}







.create-quiz-card input:focus {


    border-color:#667eea;


    box-shadow:


    0 0 0 3px rgba(102,126,234,.15);


}







/* =========================
   BUTTON
========================= */


.create-quiz-button {


    width:100%;


    padding:15px;


    border:none;


    border-radius:14px;


    background:


    linear-gradient(
        135deg,
        #667eea,
        #764ba2
    );


    color:white;


    font-size:16px;


    font-weight:600;


    cursor:pointer;


    transition:.3s;


}







.create-quiz-button:hover {


    transform:translateY(-3px);


    box-shadow:


    0 12px 25px rgba(102,126,234,.35);


}







/* =========================
   MOBILE
========================= */


@media(max-width:600px){


    .create-quiz-page {


        padding:20px;


    }





    .create-quiz-card {


        width:100%;


        padding:30px;


    }





    .create-quiz-card h1 {


        font-size:28px;


    }


}