.login-page {

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
    linear-gradient(
        135deg,
        #667eea,
        #764ba2
    );

}




.login-card {


    width:380px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:
    0 20px 40px rgba(0,0,0,0.15);

    text-align:center;


}





.logo {

    font-size:45px;

    margin-bottom:10px;

}





.login-card h1 {


    margin-bottom:8px;

    color:#333;

}




.subtitle {


    color:#777;

    margin-bottom:25px;

}





.login-card input {


    width:100%;

    padding:13px;

    margin-bottom:15px;

    border-radius:10px;

    border:1px solid #ddd;

    font-size:15px;

    box-sizing:border-box;


}



.login-card input:focus {


    outline:none;

    border-color:#667eea;

}





.login-card button {


    width:100%;

    padding:14px;

    border:none;

    border-radius:10px;

    background:#667eea;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:0.3s;


}





.login-card button:hover {


    background:#5563d6;


}




.login-card button:disabled {


    opacity:0.7;

    cursor:not-allowed;


}





.error {


    background:#ffe5e5;

    color:#c0392b;

    padding:10px;

    border-radius:8px;

    margin-bottom:15px;


}




.footer-text {


    margin-top:25px;

    color:#999;

    font-size:13px;


}