.notification-wrapper{

position:relative;

}





.notification-button{

width:45px;

height:45px;

border-radius:50%;

border:none;

background:var(--card-color);

color:var(--text-h);

font-size:22px;

cursor:pointer;

transition:.2s;

border:1px solid var(--border);

}





.notification-button:hover{

transform:scale(1.05);

background:var(--border);

}





.notification-count{

position:absolute;

top:-3px;

right:-3px;

background:#ef4444;

color:white;

font-size:12px;

font-weight:700;

min-width:20px;

height:20px;

display:flex;

align-items:center;

justify-content:center;

border-radius:50%;

}





.notification-dropdown{

position:absolute;

right:0;

top:55px;

width:360px;

background:var(--card-color);

color:var(--text);

border:1px solid var(--border);

border-radius:16px;

box-shadow:var(--shadow);

overflow:hidden;

z-index:999;

}





.notification-header{

display:flex;

justify-content:space-between;

align-items:center;

padding:16px 18px;

border-bottom:1px solid var(--border);

}





.notification-header h3{

margin:0;

font-size:18px;

color:var(--text-h);

}





.notification-header span{

font-size:13px;

color:var(--text);

}





.notification-list{

max-height:400px;

overflow-y:auto;

}





.notification-item{

padding:15px 18px;

border-bottom:1px solid var(--border);

cursor:pointer;

transition:.2s;

}





.notification-item:hover{

background:var(--bg);

}





.notification-item.read{

opacity:.65;

}





.notification-title{

font-weight:700;

margin-bottom:6px;

color:var(--text-h);

}





.notification-item p{

margin:0;

font-size:14px;

color:var(--text);

}





.notification-item small{

display:block;

margin-top:8px;

font-size:12px;

color:var(--text);

opacity:.7;

}





.empty-notification{

padding:30px;

text-align:center;

color:var(--text);

}